<Project>
  <PropertyGroup>
    <GmaFrameworkRoot>$(MSBuildThisFileDirectory)..\gma-framework\src\</GmaFrameworkRoot>
    <GmaModulesRoot>$(MSBuildThisFileDirectory)..\</GmaModulesRoot>
    <GmaModuleOrganizationsRoot>$(MSBuildThisFileDirectory)src\</GmaModuleOrganizationsRoot>
  </PropertyGroup>
</Project>
